@media (min-width: 768px){
    

    .hum{
        display: none;
    }

    nav {
        position: static !important;
        width: fit-content !important;
        top: 0 !important;
        z-index: 2 !important;
        background-color: white !important;
        visibility: visible !important;
        

        ul {
            display: flex;

        }
    }

    .intro {
        p {
            max-width: 600px;

        }
    }

    

    footer{
        .up {
            flex-direction: row;

            .right {
                justify-content: flex-end;
            }
        }
    }
    
}
@media (min-width: 930px){
    body {
        font-size: 18px;
    }
    
    header {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    
    .aboutMe {
        padding-left: 5vw;
        padding-right: 5vw;
        .up {
            p {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .down {
            display: flex;
            

            .left {
                width: 50%;

                P {
                    width: 70%;
                    text-align: left;
                }
            }
            .right {
                width: 50%;
            }
        }
    }
    .contact {
        padding-left: 5vw;
        padding-right: 5vw;
        margin: auto;
        .formCon {
            max-width: 930px;
            margin: auto;
        }
    }

    footer{
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .projects {
        padding-left: 5vw;
        padding-right: 5vw;
        .content {
            flex-direction: row;
            margin-top: 3em;

            .text {
            top: 0px;
            right: -40px;
            width: 100%;
            max-width: 50%;
            }
        }

        .image {
            img {
                max-width: 500px !important;
                width: 500px !important;
                height: 300px;
            }
        }
    }
}

@media (min-width: 1100px){
    

    .aboutMe {
        .up {
            p {
                width: 50%;
            }
        }
        .down {
            padding-left: 5vw;
            padding-right: 5vw;
        }
        
    }

    .projects {
        .image {
            img {
                max-width: 700px !important;
                width: 700px !important;
            }
        }
    }
}
