$color1: #fdabb7;
$color2: #343D4B;

* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.formAnswer {
    width: 100%;
    height: 100vh;
    background-color: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;


    .message{
        padding: 40px;
        width: 50%;
        margin: auto;
        color: $color2;
        background-color: white;
        border-radius: 20px;

        h2{
            margin-top: 0;
        }

        a{
            color: $color1
        }
    }
}
